
/*
 * main original green: #99cc66
 * main original black: #1D1F21
 * main original black bacground body: #101010
 * main originai dark gray color for footer: #404040
 * main original whitish color for site text: #dbdbdb
 * main blue: #5294E2
 * main dark gray: #262932
 * main off white: #eaeaeb
 * */

body { background: #2F343F; color: #eaeaeb; }
a { /*text-decoration: none;*/ color: #eaeaeb; }
pre { background: #2F343F; border: 1px solid #5C5C5C; border-radius: 5px; }
code { background: #2F343F; }
blockquote { background: #2F343F; border-left: 3px solid #eaeaeb; }
table { margin: 1em auto; border-collapse: collapse; }
table, th, td { border: 1px solid #5C5C5C; }
tr:hover { background: #2F343F; }
th { background: #2F343F; }
.siteTitle a { color: #5294E2; }
.post .content h1{ color: #5294E2; }
.post .content h2{ color: #5294E2; }
.post .content h3{ color: #5294E2; }
.post .content h4{ color: #5294E2; }
.post .content h5{ color: #5294E2; }
.post .content h6{ color: #5294E2; }
.post .content a:hover { color: #5294E2; }
.social-link a { color: #eaeaeb; }
.social-link:hover { text-decoration: underline; color: #5294E2; }
.nav-item-title:hover { color: #5294E2; }
.tag a:hover { color: #5294E2; }
.copyright { color: #eaeaeb; }
.poweredby { color: #eaeaeb; }
.poweredby a { color: #eaeaeb; }
.post-preview .title a{ color: #5294E2; }
.content-item a:hover{ text-decoration: underline; color: #5294E2; }
.post-list .title { color: #5294E2; }
.rmore a { color: #5294E2; }
/*.rmore a:hover { color: #5294E2; }*/
.terms .term a:hover { text-decoration: underline; color: #5294E2; }
